.menuBar {
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    font-size: var(--code-font-size);
    font-family: var(--code-font-family);
}
