.combobox-container {
    background-color: var(--override-background, var(--vscode-editor-background));
    position: relative;
    text-align:center;
    margin: 2px;
}

.combobox {
    border-color: var(--override-badge-background, var(--vscode-badge-background));
    border-style: solid;
    border-width: 1px;
    border-radius: 0;
    color: var(--override-foreground, var(--vscode-editor-foreground));
    padding-top: 1px;
    padding-bottom: 1px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.combobox-arrow {
    border-top-color: var(--override-badge-background, var(--vscode-badge-background));
    top: 5px;
}

.is-open .combobox-arrow {
    border-top-color: var(--override-badge-background, var(--vscode-badge-background));
    top: 5px;
}

.combobox-menu {
    border-color: var(--override-badge-background, var(--vscode-badge-background));
    border-style: solid;
    border-width: 1px;
    border-radius: 0;
    text-align:left;
}

.Dropdown-option {
    color: var(--override-foreground, var(--vscode-editor-foreground));
    background-color: var(--override-background, var(--vscode-editor-background));
}

.Dropdown-option:hover {
    color: var(--override-foreground, var(--vscode-editor-foreground));
    background-color: var(--override-selection-background, var(--vscode-editor-selectionBackground));
}

.Dropdown-option.is-selected {
    color: var(--override-foreground, var(--vscode-editor-foreground));
    background-color: var(--override-selection-background, var(--vscode-editor-selectionBackground));
}